.header{
    
    height: 12rem; //120px
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-width: 136.6rem;
    background-color: #ffffff; 
    padding: 0rem 8.34rem 0rem 6.3rem;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
}

